<form class="grade-item" method="POST" action="/deletegrade">
    <div class="grade-item__left">
        <span class="subject-badge {{ subject }}">{{ subject }}</span>
        <span class="grade-item__value">{{ grade }}</span>
    </div>

    <div class="grade-item__center">
        <div class="grade-item__name">{{ first_name }} {{ last_name }}</div>
        <div class="grade-item__meta">
            <span class="grade-item__description">За что: {{ description }}</span>
            <span class="grade-item__comment">Комментарий: {{ comment }}</span>
        </div>
    </div>

    <div class="grade-item__right">
        <span class="grade-item__date">{{ date }}</span>
        <input type="hidden" name="grade_id" value="{{ grade_id }}" />
        <button type="submit" class="btn btn_danger">Удалить</button>
    </div>
</form>
