<form class="assignment-item" method="POST" action="/deletehw">
    <input type="hidden" name="homework_id" value="{{ homework_id }}" />

    <div class="assignment-item__header">
        <div class="assignment-item__info">
            <span class="subject-badge {{ subject }}">{{ subject }}</span>
            <h3 class="assignment-item__title">{{ title }}</h3>
            <div class="assignment-item__meta">
                <span class="assignment-item__date">Срок: {{ data }}</span>
            </div>
        </div>
        <div class="assignment-item__status assignment-item__status_active">{{ status }}</div>
    </div>

    <div class="assignment-item__content">{{ description }}</div>

     <div class="hidden-tasks-content" style="display: none;">{{ tasks_template }}</div>

    <div class="assignment-item__actions">
        <button type="button" class="btn btn_add_task" onclick="showHomeworkTasksModal(this)">Добавить задание</button>
        <button type="submit" class="btn btn_delete">Удалить</button>
    </div>
</form>