<div class="question-card" data-index="{{ question_number }}" data-type="single">
    <div class="question-type">Выберите один ответ</div>
    <div class="question-number">Вопрос {{ question_number }}</div>
    <div class="question-text">{{ title_question }}</div>
    <div class="answers">
        <label class="answer-option">
            <input type="radio" name="answer-single-{{ question_number }}" value="{{ first_var }}" />
            <span class="custom-radio"></span>
            <span class="answer-option__label">{{ first_var }}</span>
        </label>
        <label class="answer-option">
            <input type="radio" name="answer-single-{{ question_number }}" value="{{ second_var }}" />
            <span class="custom-radio"></span>
            <span class="answer-option__label">{{ second_var }}</span>
        </label>
        <label class="answer-option">
            <input type="radio" name="answer-single-{{ question_number }}" value="{{ third_var }}" />
            <span class="custom-radio"></span>
            <span class="answer-option__label">{{ third_var }}</span>
        </label>
        <label class="answer-option">
            <input type="radio" name="answer-single-{{ question_number }}" value="{{ fourth_var }}" />
            <span class="custom-radio"></span>
            <span class="answer-option__label">{{ fourth_var }}</span>
        </label>
    </div>
</div>