<form class="lesson-card" method="POST" action="/deletelesson">
    <input type="hidden" name="lesson_id" value="{{ schedule_id }}" />
    <div class="schedule__lesson-card">
        <div class="schedule__lesson-content">
            <div class="schedule__lesson-time">{{ starttime }} - {{ endtime }}</div>
            <div class="subject-badge {{ subject }}">{{ subject }}</div>
            <div class="schedule__lesson-student">
                <span>{{ studfirst_name }} {{ studlast_name }}</span>
            </div>
        </div>
        <div class="hidden-tasks-content" style="display: none;">
            {{ tasks_template }}
        </div>
        <div class="schedule__lesson-actions">
            <button type="button" class="schedule__lesson-action-btn_details" onclick="showLessonModal(this)">Подробнее</button>
            <button type="submit" class="schedule__lesson-action-btn_delete">Удалить</button>
        </div>
        
    </div>
</form>